
<div class="content" role="main">
    <article class="slide container-fluid row">
        <div class="col-12 col-md-7 col-xxl-8">
            <div class="bg-img dvs-mock-img"></div>
        </div>
        <div class="col-12 col-md-5 col-xxl-4 slide-description">
            <p class="h4 text-center" i18n>App for data-via-sound transportation</p>
            <p class="mb-5 text-center" i18n>(diploma work)</p>
            <p i18n>
                This Android application is for transmitting data between 
                devices using sound waves. 
            </p>
            <p i18n>
                Despite Android platform was new for Mykyta, it was a good choice to proof the concept. 
                Besides the app, an advanced testing program was created. 
                It was used for the research in order to find 
                the optimal sound parameters for the best transmission quality. 
            </p>
            <div class="assets-enumeration">
                <span>
                    <mat-icon class="check-icon" color="primary">done</mat-icon>
                    <span i18n>New technologies</span>
                </span>
                <span>
                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                    <span i18n>Sound research</span>
                </span>
                <span>
                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                    <span i18n>Android</span>
                </span>
            </div>
        </div>
    </article>
</div>