
<div class="content" role="main">
    <article class="slide container-fluid row">
        <div class="col-12 col-md-7 col-xxl-8">
            <div class="bg-img ws-mock-img"></div>
        </div>
        <div class="col-12 col-md-5 col-xxl-4 slide-description">
            <p class="h4 mb-5 text-center" i18n>Webshop</p>
            <p i18n>
                This Web project is for the companies from the fashion industry who 
                aspire to sell their products to retail customers in the internet. 
            </p>
            <p i18n="@@2503237102175404117">
                Orientation to the retail sector raises specific requirements and challenges. 
                Ability to easily cope with new technologies is Mykyta's strong asset which was 
                in help when solving the challenges of the project.
            </p>
            <div class="assets-enumeration">
                <span>
                    <mat-icon class="check-icon" color="primary">done</mat-icon>
                    <span i18n>Retail customers</span>
                </span>
                <span>
                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                    <span i18n>Website performance improvements</span>
                </span>
                <span>
                    <mat-icon class="check-icon" color="primary">done</mat-icon>
                    <span i18n>Search Engine Optimization solutions</span>
                </span>
            </div>
        </div>
    </article>
</div>