
<div class="content" role="main">
    <article class="slide container-fluid row">
        <div class="col-12 col-md-7 col-xxl-8">
            <div class="bg-img sa-mock-img"></div>
        </div>
        <div class="col-12 col-md-5 col-xxl-4 slide-description">
            <p class="h4 mb-5 text-center" i18n>Customer Portal</p>
            <p i18n>
                The Customer Portal Web application project provides 
                a handy way for internal customers to perform wholesale orders 
                and keep track of the corresponding documentation. 
            </p>
            <p i18n>
                Rich set of features and configuration flexibility are the advantages 
                of the project. 
            </p>
            <div class="assets-enumeration">
                <span>
                    <mat-icon class="check-icon" color="primary">done</mat-icon>
                    <span i18n>B2B customers</span>
                </span>
                <span>
                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                    <span i18n>Server programming (backend)</span>
                </span>
                <span>
                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                    <span i18n>Java EE</span>
                </span>
            </div>
        </div>
    </article>
</div>