<!--
TODO: Header navs with status indication depending on the scroll position
TODO: Translate
TODO: Footer? 
-->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="container" [style.height]="headerHeightPx + 'px'">
    <img width="40" alt="Mykyta Moiseienko Logo" src="./assets/logo.png" />
    <span>{{'is' | trans}} Mykyta Moiseienko</span>
    <div class="spacer"></div>
    <a mat-stroked-button color="" (click)="openBottomSheet()" 
      style="background-color: var(--background-color)">
        {{'Contact me' | trans}}
    </a>
  </div>
</div>

<router-outlet></router-outlet>