<!--
TODO1: Footer 
TODO1: SSR, SEO
-->

<!-- Toolbar -->
<header class="toolbar" role="banner">
  <div class="container" [style.height]="headerHeightPx + 'px'">
    <img width="40" alt="Mykyta Moiseienko Logo" src="./assets/logo.png" />
    <span i18n>is Mykyta Moiseienko</span>
    <div class="spacer d-block d-md-none"></div>
    <app-nav-bar class="spacer d-none d-md-block"></app-nav-bar>
    <a mat-icon-button href="tel: +48 792 290 749" class="d-none d-md-block">
      <mat-icon>call</mat-icon>
    </a>
    <!-- style="background-color: var(--background-color)" -->
    <app-contact-button i18n>Contact</app-contact-button>
    <app-lang-selection></app-lang-selection>
  </div>
</header>

<div id="top"></div>
<router-outlet></router-outlet>