<swiper [spaceBetween]="50" [pagination]="{ clickable: true, dynamicBullets: true }"
    [mousewheel]="{ forceToAxis: true }" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"
    [navigation]="true">
    <ng-template swiperSlide>
        <article class="slide container-fluid row">
            <div class="col-12 col-md-7 col-xxl-8">
                <div class="bg-img ws-mock-img"></div>
            </div>
            <div class="col-12 col-md-5 col-xxl-4 slide-description">
                <p class="h4 mb-5 text-center" i18n>Webshop</p>
                <p i18n>
                    This Web project is for the companies from the fashion industry who
                    aspire to sell their products to retail customers in the internet.
                </p>
                <p i18n="@@2503237102175404117">
                    Orientation to the retail sector raises specific requirements and challenges.
                    Ability to easily cope with new technologies is Mykyta's strong asset which was
                    in help when solving the challenges of the project.
                </p>
                <div class="assets-enumeration">
                    <span>
                        <mat-icon class="check-icon" color="primary">done</mat-icon>
                        <span i18n>Retail customers</span>
                    </span>
                    <span>
                        <mat-icon class="check-icon" color="primary">done</mat-icon>
                        <span i18n>Website performance improvements</span>
                    </span>
                    <span>
                        <mat-icon class="check-icon" color="primary">done</mat-icon>
                        <span i18n>Search Engine Optimization solutions</span>
                    </span>
                </div>
                <a mat-stroked-button class="mx-auto mt-2" routerLink="content/webshop" appScrollToFragment="top"
                    i18n>Learn more</a>
            </div>
        </article>
    </ng-template>
    <ng-template swiperSlide>
        <article class="slide container-fluid row">
            <div class="col-12 col-md-7 col-xxl-8">
                <div class="bg-img sa-mock-img"></div>
            </div>
            <div class="col-12 col-md-5 col-xxl-4 slide-description">
                <p class="h4 mb-5 text-center" i18n>Customer Portal</p>
                <p i18n>
                    The Customer Portal Web application project provides
                    a handy way for internal customers to perform wholesale orders
                    and keep track of the corresponding documentation.
                </p>
                <p i18n>
                    Rich set of features and configuration flexibility are the advantages
                    of the project.
                </p>
                <div class="assets-enumeration">
                    <span>
                        <mat-icon class="check-icon" color="primary">done</mat-icon>
                        <span i18n>B2B customers</span>
                    </span>
                    <span>
                        <mat-icon class="check-icon" color="primary">done</mat-icon>
                        <span i18n>Server programming (backend)</span>
                    </span>
                    <span>
                        <mat-icon class="check-icon" color="primary">done</mat-icon>
                        <span i18n>Java EE</span>
                    </span>
                </div>
                <a mat-stroked-button class="mx-auto mt-2" routerLink="content/cp" appScrollToFragment="top" i18n>Learn
                    more</a>
            </div>
        </article>
    </ng-template>
    <!-- #5a59e5 rgb(90, 89, 229), #599fe5 -->
    <ng-template swiperSlide>
        <article class="slide container-fluid row">
            <div class="col-12 col-md-7 col-xxl-8">
                <div class="bg-img dvs-mock-img"></div>
            </div>
            <div class="col-12 col-md-5 col-xxl-4 slide-description">
                <p class="h4 text-center" i18n>App for data-via-sound transportation</p>
                <p class="mb-5 text-center" i18n>(diploma work)</p>
                <p i18n>
                    This Android application is for transmitting data between
                    devices using sound waves.
                </p>
                <p i18n>
                    Despite Android platform was new for Mykyta, it was a good choice to proof the concept.
                    Besides the app, an advanced testing program was created.
                    It was used for the research in order to find
                    the optimal sound parameters for the best transmission quality.
                </p>
                <div class="assets-enumeration">
                    <span>
                        <mat-icon class="check-icon" color="primary">done</mat-icon>
                        <span i18n>New technologies</span>
                    </span>
                    <span>
                        <mat-icon class="check-icon" color="primary">done</mat-icon>
                        <span i18n>Sound research</span>
                    </span>
                    <span>
                        <mat-icon class="check-icon" color="primary">done</mat-icon>
                        <span i18n>Android</span>
                    </span>
                </div>
                <a mat-stroked-button class="mx-auto mt-2" routerLink="content/dataviasound" appScrollToFragment="top"
                    i18n>Learn more</a>
            </div>
        </article>
    </ng-template>
    <ng-template swiperSlide>
        <article class="slide container-fluid row">
            <div class="col-12 slide-description">
                <p class="h4 mb-4 text-center" i18n>Ask me about my
                    <span class="text-accent">other projects</span>
                </p>
                <p class="text-center fw-bold" i18n>
                    Process controll app for a company from the automotive industry.
                    Online broadcast and retail platform.
                    <br>
                    Styles prototyping Web application.
                    HelpDesk.
                    Standalone Java programs.
                </p>
                <p class="text-center mb-4" i18n>
                    Many of the projects I was working on are not public.
                    Therefore I can not show or share the details. <br>
                    On the other hand, I'd be glad to talk with you in person and outline the key aspects of my past
                    works.
                </p>
                <app-contact-button class="mx-auto" i18n>Contact me</app-contact-button>
            </div>
        </article>
    </ng-template>
</swiper>