

.bg-img {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
}
.sa-desktop-img {
    background-image: url(../../heap/ins/sa_desktop.JPG);
}
.sa-mock-img {
    background-image: url(../../heap/ins/mock-sa-desktop-mobile.png);
}
.ws-mock-img {
    background-image: url(../../heap/ins/mock-ws-desktop.png);
}
.dvs-mock-img {
    background-image: url(../../heap/diploma/data-via-sound-mock/data-via-sound-mock-2.png);
}