
<div class="content" role="main">
    <section class="top-banner">
        <div class="focus-text-column holo" style="--gradient-shape: ellipse;">
            <div>
                <div class="major-text display-6 mb-4 fw-normal">
                    <span i18n>IT solutions </span>
                    <span i18n class="text-accent">for your Business</span>.<br />
                    <span i18n>Done professionally.</span>
                </div>
                <div class="minor-text fw-light" i18n>
                    Mykyta Moiseienko is a professional Software Engineer who will create a perfect programmatic solution for your business needs. 
                </div>
            </div>
        </div>
        <div class="focus-image-column" style="--gradient-position: 40%;">
            <div class="web-tech-img"></div>
            <!-- <img class="mh-100 mw-100" src="./assets/web_tech/1.png" style="transform: scaleX(-1);" /> -->
        </div>
        <div class="focus-btn-column">
            <div class="icon-button-container" [ngClass]="{ 'animate': shouldAnimateMoveDownBtn }">
                <button mat-icon-button class="icon-button arrow-down-button" color="primary" 
                    aria-label="Move down" (click)="onMoveDownClick($event)">
                    <mat-icon>arrow_downward</mat-icon>
                </button>
            </div>
        </div>
    </section>
    <br>
    <div id="moveDownScrollHere"></div>
    <!-- h-md-fh -->
    <section class="offer-banner content-banner container h-md-fh mb-5 mb-xxl-0">
        <!-- What can be achieved  -->
        <!-- New system. lightbulb auto_awesome 
            - automation can save human hours and improve speed of processes in your company. savings euro_symbol payments
            - more reliability of the processes because human factor is reduced. 
            - Easy to use, accessible from all devices
        -->
        <!-- Integration with existing IT systems. integration_instructions insights -->
        <!-- Replace more expensive or inconvenient systems. thumb_up -->
        <div>
            <div class="title-block mb-4 text-center">
                <!-- Offer; How we can solve your needs -->
                <span class="h2 d-inline" appNavAnchor="Offer" i18n>My Offer...</span> 
            </div>
            <div class="offer-items offer-items-grid mb-4">
                <div class="offer-item major-left-item card">
                    <div class="major-item-side w-40">
                        <div class="holo w-100px">
                            <mat-icon inline="true" class="">lightbulb</mat-icon>
                        </div>
                        <div i18n>Creating a new digital system</div>
                    </div>
                    <div class="major-item-side major-item-side-subitems w-60">
                        <div class="offer-subitem">
                            <div class="holo w-100px d-none">
                                <mat-icon inline="true" class="">savings</mat-icon>
                            </div>
                            <div class="text-start" i18n="@@7151043317980584312">Automation saves man hours and improves speed of processes in your company</div>
                        </div>
                        <div class="offer-subitem">
                            <div class="text-start" i18n>More reliable processes because human factor is reduced</div>
                        </div>
                        <div class="offer-subitem">
                            <div class="text-start" i18n>Easy to use solution, accessible from all devices</div>
                        </div>
                    </div>
                </div>
                <div class="offer-item card">
                    <div class="holo w-100px">
                        <mat-icon inline="true" class="">thumb_up</mat-icon>
                    </div>  
                    <div i18n>Replacing an expensive or inconvenient systems</div>
                </div>
                <div class="offer-item card">
                    <div class="holo w-100px">
                        <mat-icon inline="true" class="">insights</mat-icon>
                    </div>  
                    <div i18n>Integrating with existing IT systems</div>
                </div>
                <div class="offer-item card">
                    <div class="holo w-100px">
                        <mat-icon inline="true" class="">more_horiz</mat-icon>
                    </div>  
                    <div i18n>And more</div>
                </div>
            </div>
        </div>
        <!-- Roadmap of a solution. Icons: double_arrow arrow_forward_ios arrow_forward -->
        <!-- First contact: pan_tool people waving_hand front_hand alternate_email -->
        <!-- Understanding requirements: tips_and_updates assignment -->
        <!-- Agreement: handshake -->
        <!-- Implementation: settings(spinning) auto_fix_high settings_suggest -->
        <!-- Done: thumb_up thumb_up_off_alt verified task_alt rocket_launch -->
        <div class="d-flex align-items-center flex-basis-100 flex-column justify-content-center">
            <div class="title-block mb-4 d-flex 
                align-items-center justify-content-center">
                <span class="h5 d-inline" i18n>... and how we can proceed</span> 
            </div>
            <div class="offer-items offer-items-flex roadmap-items 
                        flex-md-row flex-column">
                <div class="offer-item">
                    <div class="holo w-100px">
                        <mat-icon inline="true" class="">waving_hand</mat-icon>
                    </div>
                    <div>
                        <app-contact-button i18n>First contact</app-contact-button>
                    </div>
                </div>
                <mat-icon inline="true" color="primary" class="mobile-vertical">double_arrow</mat-icon>
                <div class="offer-item">
                    <div class="w-100px">
                        <mat-icon inline="true" class="">assignment</mat-icon>
                    </div>  
                    <div i18n>Understanding your needs</div>
                </div>
                <mat-icon inline="true" color="primary" class="mobile-vertical">double_arrow</mat-icon>
                <div class="offer-item">
                    <div class="w-100px">
                        <mat-icon inline="true" class="">handshake</mat-icon>
                    </div>  
                    <div i18n>Agreement</div>
                </div>
                <mat-icon inline="true" color="primary" class="mobile-vertical">double_arrow</mat-icon>
                <div class="offer-item">
                    <div class="w-100px">
                        <mat-icon inline="true" class="rotation-animation">settings</mat-icon>
                    </div>  
                    <div i18n>Implementation</div>
                </div>
                <mat-icon inline="true" color="primary" class="mobile-vertical">double_arrow</mat-icon>
                <div class="offer-item">
                    <div class="holo w-100px">
                        <mat-icon inline="true" class="">thumb_up</mat-icon>
                    </div>  
                    <div i18n>Done</div>
                </div>
            </div>
        </div>
    </section>
    <!-- About me, including my experience and how it will convert to the advantages for the client
        - technology generalism 
        - specialization in Web gives a lot of possibilities
        - responsibility and satisfactory result for all stakeholders
        - solutions "під ключ"
        - presentation of my past projects
        - Supporting local businesses in Czestochowa. Readiness to work on international projects, experience with projects from EU, US, Asia and Africa. 
        h-md-fh mb-5 mb-md-0
    -->
    <section class="about-banner content-banner container mb-5">
        <div class="title-block mb-4 text-center">
            <span class="h2 d-inline" appNavAnchor="About" i18n>About Mykyta</span>
            <!--
            <img class="logo-img" alt="Mykyta Moiseienko Logo" src="./assets/logo.png" />
            -->
        </div>
        <div class="row">
            <div class="focus-text-column col-12 col-md-7 d-flex 
                align-items-center justify-content-center">
                <!-- indicate my specializations and capabilities (Web and programming generalist; Frontend, Backend, Databases, Server setup, Accompanying services, Maintenance of a product...) -->
                <div class="focus-text h2">
                    <img class="logo-img" alt="Mykyta Moiseienko Logo" src="./assets/logo.png" />
                    <span i18n> is </span>
                    <!-- TODO: fix vertical shift of some items -->
                    <div class="spinner d-inline-flex flex-column">
                        <span i18n>responsibility</span>
                        <span i18n>affordable services</span>
                        <span i18n>quality results</span>
                        <span i18n>a good solution</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 assets-enumeration">
                <p class="h6">
                    Mykyta Moiseienko is a <span class="text-accent" i18n>professional Software Engineer.</span>
                </p>
                <p class="h6">
                    <mat-icon color="primary">done</mat-icon> 
                    <span i18n>{{expYears}} {expYears, plural, =1 {year} other {years}} in the industry</span>
                </p>
                <p class="h6">
                    <mat-icon color="primary">done</mat-icon> <span i18n>Several projects from US, EU, Asia and Africa</span>
                </p>
                <p class="h6" i18n-matTooltip="@@5916894819632714672" 
                matTooltip="Czestochowa University of Technology">
                    <mat-icon color="primary">done</mat-icon> <span i18n>Qualification is proven by a corresponding degree in one of the esteemed universities in Poland</span>
                </p>
                <p class="h6">
                    <mat-icon color="primary">done</mat-icon> <span i18n>Specialist in Web development, competent in fields of Frontend, Backend, Databases and Servers</span>
                </p>
                <p class="h6">
                    <mat-icon color="primary">done</mat-icon> <span i18n>Programming generalist who is not limited by just one field of Software Development</span>
                </p>
            </div>
        </div>
    </section>
    <section class="projects-banner container h-fh
        d-flex flex-column">
        <div class="title-block mb-4 text-center" style="flex: 0;">
            <span class="h2 d-inline" appNavAnchor i18n>Projects</span>
        </div>
        <div class="row" style="flex: 1;">
            <swiper
                [spaceBetween]="50"
                [pagination]="{ clickable: true, dynamicBullets: true }"
                [mousewheel]="{ forceToAxis: true }"
                (swiper)="onSwiper($event)"
                (slideChange)="onSlideChange()"
                [navigation]="true"
                >
                <ng-template swiperSlide>
                    <article class="slide container-fluid row">
                        <div class="col-12 col-md-7 col-xxl-8">
                            <div class="bg-img ws-mock-img"></div>
                        </div>
                        <div class="col-12 col-md-5 col-xxl-4 slide-description">
                            <p class="h4 mb-5 text-center" i18n>Webshop</p>
                            <p i18n>
                                This Web project is for the companies from the fashion industry who 
                                aspire to sell their products to retail customers in the internet. 
                            </p>
                            <p i18n="@@2503237102175404117">
                                Orientation to the retail sector raises specific requirements and challenges. 
                                Ability to easily cope with new technologies is Mykyta's strong asset which was 
                                in help when solving the challenges of the project.
                            </p>
                            <div class="assets-enumeration">
                                <span>
                                    <mat-icon class="check-icon" color="primary">done</mat-icon>
                                    <span i18n>Retail customers</span>
                                </span>
                                <span>
                                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                                    <span i18n>Website performance improvements</span>
                                </span>
                                <span>
                                    <mat-icon class="check-icon" color="primary">done</mat-icon>
                                    <span i18n>Search Engine Optimization solutions</span>
                                </span>
                            </div>
                        </div>
                    </article>
                </ng-template>
                <ng-template swiperSlide>
                    <article class="slide container-fluid row">
                        <div class="col-12 col-md-7 col-xxl-8">
                            <div class="bg-img sa-mock-img"></div>
                        </div>
                        <div class="col-12 col-md-5 col-xxl-4 slide-description">
                            <p class="h4 mb-5 text-center" i18n>Customer Portal</p>
                            <p i18n>
                                The Customer Portal Web application project provides 
                                a handy way for internal customers to perform wholesale orders 
                                and keep track of the corresponding documentation. 
                            </p>
                            <p i18n>
                                Rich set of features and configuration flexibility are the advantages 
                                of the project. 
                            </p>
                            <div class="assets-enumeration">
                                <span>
                                    <mat-icon class="check-icon" color="primary">done</mat-icon>
                                    <span i18n>B2B customers</span>
                                </span>
                                <span>
                                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                                    <span i18n>Server programming (backend)</span>
                                </span>
                                <span>
                                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                                    <span i18n>Java EE</span>
                                </span>
                            </div>
                        </div>
                    </article>
                </ng-template>
                <!-- #5a59e5 rgb(90, 89, 229), #599fe5 -->
                <ng-template swiperSlide>
                    <article class="slide container-fluid row">
                        <div class="col-12 col-md-7 col-xxl-8">
                            <div class="bg-img dvs-mock-img"></div>
                        </div>
                        <div class="col-12 col-md-5 col-xxl-4 slide-description">
                            <p class="h4 text-center" i18n>App for data-via-sound transportation</p>
                            <p class="mb-5 text-center" i18n>(diploma work)</p>
                            <p i18n>
                                This Android application is for transmitting data between 
                                devices using sound waves. 
                            </p>
                            <p i18n>
                                Despite Android platform was new for Mykyta, it was a good choice to proof the concept. 
                                Besides the app, an advanced testing program was created. 
                                It was used for the research in order to find 
                                the optimal sound parameters for the best transmission quality. 
                            </p>
                            <div class="assets-enumeration">
                                <span>
                                    <mat-icon class="check-icon" color="primary">done</mat-icon>
                                    <span i18n>New technologies</span>
                                </span>
                                <span>
                                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                                    <span i18n>Sound research</span>
                                </span>
                                <span>
                                    <mat-icon class="check-icon" color="primary">done</mat-icon> 
                                    <span i18n>Android</span>
                                </span>
                            </div>
                        </div>
                    </article>
                </ng-template>
                <ng-template swiperSlide>
                    <article class="slide container-fluid row">
                        <div class="col-12 slide-description">
                            <p class="h4 mb-4 text-center" i18n>Ask me about my 
                                <span class="text-accent">other projects</span>
                            </p>
                            <p class="text-center fw-bold" i18n>
                                Process controll app for a company from the automotive industry. 
                                Online broadcast and retail platform. 
                                <br>
                                Styles prototyping Web application. 
                                HelpDesk. 
                                Standalone Java programs. 
                            </p>
                            <p class="text-center mb-4" i18n>
                                Many of the projects I was working on are not public. 
                                Therefore I can not show or share the details. <br>
                                On the other hand, I'd be glad to talk with you in person and outline the key aspects of my past works.
                            </p>
                            <app-contact-button class="mx-auto" i18n>Contact me</app-contact-button>
                        </div>
                    </article>
                </ng-template>
            </swiper>
        </div>
    </section>
</div>