
<div class="content" role="main">
    <div class="top-banner">
        <div class="focus-text-column holo" style="--gradient-shape: ellipse;">
            <span class="display-6">
                {{'IT solutions ' | trans}}<span class="text-accent">{{'for your Business' | trans}}</span>.<br />
                {{'Done professionally.' | trans}}
            </span>
        </div>
        <div class="focus-image-column holo" style="--gradient-position: 40%;">
            <div class="web-tech-img"></div>
            <!-- <img class="mh-100 mw-100" src="/assets/web_tech/1.png" style="transform: scaleX(-1);" /> -->
        </div>
        <div class="focus-btn-column">
            <div class="icon-button-container">
                <button mat-icon-button class="icon-button arrow-down-button" color="primary" aria-label="Move down">
                    <mat-icon>arrow_downward</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <br>
    
</div>