
<div class="content" role="main">
    <div class="top-banner">
        <div class="focus-text-column holo" style="--gradient-shape: ellipse;">
            <div>
                <div class="major-text display-6 mb-4 fw-normal">
                    {{'IT solutions ' | trans}}<span class="text-accent">{{'for your Business' | trans}}</span>.<br />
                    {{'Done professionally.' | trans}}
                </div>
                <div class="minor-text fw-light">
                    {{'Mykyta Moiseienko is a professional Software Engineer who will create a perfect programmatic solution for your business needs. ' | trans}}
                </div>
            </div>
        </div>
        <div class="focus-image-column" style="--gradient-position: 40%;">
            <div class="web-tech-img"></div>
            <!-- <img class="mh-100 mw-100" src="/assets/web_tech/1.png" style="transform: scaleX(-1);" /> -->
        </div>
        <div class="focus-btn-column">
            <div class="icon-button-container" [ngClass]="{ 'animate': shouldAnimateMoveDownBtn }">
                <button mat-icon-button class="icon-button arrow-down-button" color="primary" 
                    aria-label="Move down" (click)="onMoveDownClick($event)">
                    <mat-icon>arrow_downward</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <br>
    <div id="moveDownScrollHere"></div>
    <!-- h-md-fh -->
    <div class="offer-banner content-banner container">
        <!-- TODO: what can be achieved  -->
        <!-- New system. lightbulb auto_awesome 
            - automation can save human hours and improve speed of processes in your company. savings euro_symbol payments
            - more reliability of the processes because human factor is reduced. 
            - Easy to use, accessible from all devices
        -->
        <!-- Integration with existing IT systems. integration_instructions insights -->
        <!-- Replace more expensive or inconvenient systems. thumb_up -->
        <div class="title-block mb-4 text-center">
            <!-- Offer; How we can solve your needs -->
            <span class="h2 d-inline">{{'My Offer...' | trans}}</span> 
        </div>
        <div class="offer-items offer-items-grid mb-4">
            <div class="offer-item major-left-item card">
                <div class="major-item-side w-40">
                    <div class="holo">
                        <mat-icon inline="true" class="">lightbulb</mat-icon>
                    </div>
                    <div>
                        {{'Creating a new system' | trans}}
                    </div>
                </div>
                <div class="major-item-side major-item-side-subitems w-60">
                    <div class="offer-subitem">
                        <div class="holo d-none">
                            <mat-icon inline="true" class="">savings</mat-icon>
                        </div>
                        <div class="text-start">
                            {{'Automation saves human hours and improves speed of processes in your company' | trans}}
                        </div>
                    </div>
                    <div class="offer-subitem">
                        <div class="text-start">
                            {{'More reliable processes because human factor is reduced' | trans}}
                        </div>
                    </div>
                    <div class="offer-subitem">
                        <div class="text-start">
                            {{'Easy to use solution, accessible from all devices' | trans}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-item card">
                <div class="holo">
                    <mat-icon inline="true" class="">thumb_up</mat-icon>
                </div>  
                <div>
                    {{'Replacing an expensive or inconvenient systems' | trans}}
                </div>
            </div>
            <div class="offer-item card">
                <div class="holo">
                    <mat-icon inline="true" class="">insights</mat-icon>
                </div>  
                <div>
                    {{'Integrating with existing IT systems' | trans}}
                </div>
            </div>
            <div class="offer-item card">
                <div class="holo">
                    <mat-icon inline="true" class="">more_horiz</mat-icon>
                </div>  
                <div>
                    {{'And more' | trans}}
                </div>
            </div>
        </div>
        <!-- TODO: roadmap of a solution. Icons: double_arrow arrow_forward_ios arrow_forward -->
        <!-- First contact: pan_tool people waving_hand front_hand alternate_email -->
        <!-- Understanding requirements: tips_and_updates assignment -->
        <!-- Agreement: handshake -->
        <!-- Implementation: settings(spinning) auto_fix_high settings_suggest -->
        <!-- Done: thumb_up thumb_up_off_alt verified task_alt rocket_launch -->
        <div class="title-block mb-4 text-center">
            <span class="h2 d-inline">{{'... and how we can proceed' | trans}}</span> 
        </div>
        <div class="offer-items offer-items-flex roadmap-items 
                    flex-md-row flex-column">
            <div class="offer-item">
                <div class="holo">
                    <mat-icon inline="true" class="">waving_hand</mat-icon>
                </div>
                <div>
                    {{'First contact' | trans}}
                </div>
            </div>
            <mat-icon inline="true" color="primary" class="mobile-vertical">double_arrow</mat-icon>
            <div class="offer-item">
                <div class="holo">
                    <mat-icon inline="true" class="">assignment</mat-icon>
                </div>  
                <div>
                    {{'Understanding your needs' | trans}}
                </div>
            </div>
            <mat-icon inline="true" color="primary" class="mobile-vertical">double_arrow</mat-icon>
            <div class="offer-item">
                <div class="holo">
                    <mat-icon inline="true" class="">handshake</mat-icon>
                </div>  
                <div>
                    {{'Agreement' | trans}}
                </div>
            </div>
            <mat-icon inline="true" color="primary" class="mobile-vertical">double_arrow</mat-icon>
            <div class="offer-item">
                <div class="holo">
                    <mat-icon inline="true" class="rotation-animation">settings</mat-icon>
                </div>  
                <div>
                    {{'Implementation' | trans}}
                </div>
            </div>
            <mat-icon inline="true" color="primary" class="mobile-vertical">double_arrow</mat-icon>
            <div class="offer-item">
                <div class="holo">
                    <mat-icon inline="true" class="">thumb_up</mat-icon>
                </div>  
                <div>
                    {{'Done' | trans}}
                </div>
            </div>
        </div>
    </div>
    <div class="about-banner content-banner container">
        <div class="title-block mb-4 text-center">
            <span class="h2 d-inline">{{'About' | trans}} </span>
            <img width="40" alt="Mykyta Moiseienko Logo" src="/assets/logo.png" />
        </div>
        <div class="row">
            <div class="col-12 col-md-7">
                <!-- TODO: indicate my specializations and capabilities (Web and programming generalist; Frontend, Backend, Databases, Server setup, Accompanying services, Maintenance of a product...) -->
            </div>
            <div class="col-12 col-md-5">
                <p class="h5">
                    <span class="">{{'Mykyta Moiseienko' | trans}}</span>{{' is a ' | trans}}<span class="text-accent">{{'professional Software Engineer' | trans}}.</span>

                    <!--
                    {{'He is in the industry since 2017 and took part in several projects from US, EU, Asia and Africa. ' 
                    + 'His qualification is proven by a corresponding degree in one of the esteemed universities in Poland. ' | trans}}
                    -->
                </p>
                <p class="h5">
                    <mat-icon color="primary">done</mat-icon> In the industry since 2017;
                </p>
                <p class="h5">
                    <mat-icon color="primary">done</mat-icon> Several projects from US, EU, Asia and Africa;
                </p>
                <p class="h5">
                    <mat-icon color="primary">done</mat-icon> Qualification is proven by a corresponding degree in one of the esteemed universities in Poland;
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="title-block mb-4 text-center">
            <span class="h2 d-inline">{{'Projects' | trans}}</span>
        </div>
        <!-- TODO -->
    </div>
</div>